.createArticleTitle {
  text-align: center;
  margin: 30px auto;
  font-size: 48px;
}

.searchContainer {
  border: 1px solid black;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.createArticleDiv {
  /* border: 1px solid black; */
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 20px 0px;
}

.createArticleText {
  text-align: center;
  text-decoration: none;
  margin: 2px 50px;
  padding: 0px;
  color: rgb(1, 190, 1);
  cursor: pointer;
  border-radius: 50%;
}

.createArticleText:hover {
  box-shadow: 2px 3px 4px -1px rgba(0, 0, 0, 0.44);
  transition: 200ms;
}

.iconContainer {
  /* border: 1px solid black; */
  display: inline-flex;
  justify-content: right;
  align-items: center;
}

.checkboxAllStyle {
  position: absolute;
  right: 62%;
}

.delIcon {
  text-align: center;
  padding: 4px 10px;
  margin: 0 10px;
  background-color: rgb(168, 26, 26);
  border-radius: 5px;
}

.delIcon:hover {
  box-shadow: 2px 3px 4px -1px rgba(0, 0, 0, 0.44);
  transition: 200ms;
  cursor: pointer;
}

.editIcon {
  text-align: center;
  padding: 7px 10px;
  margin: 0px 10px;
  margin-top: 3px;
  background-color: rgb(173, 173, 173);
  border-radius: 5px;
}

.editIcon:hover {
  box-shadow: 2px 3px 4px -1px rgba(0, 0, 0, 0.44);
  transition: 200ms;
  cursor: pointer;
}

.articleContainer {
  display: flex;
  position: relative;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
}

.eachArticle {
  display: flex;
  width: 50%;
  height: 20%;
  /* border: 1px solid black; */
  margin: 10px 0px;
}

.checkStyle {
  position: absolute;
  left: 4%;
  top: 7%;
  cursor: pointer;
}
.imageContainer input[type="checkbox"] {
  width: 17px;
  height: 17px;
  opacity: 0.7;
}

.imageContainer input[type="checkbox"]:checked {
  accent-color: #43e6e0;
  opacity: 1;
}

/* .imageContainer input[type="checkbox"]:checked:after {
  content: "\2713";
  font-size: 20px;
  font-weight: 900;
  color: white;
} */

.eachArticle:hover {
  background-color: #738291;
  border: 1px solid black;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.imageContainer {
  /* border: 1px solid black; */
  display: flex;
  position: relative;
  align-items: center;
}

.imageContainer img {
  margin-left: 10px;
  width: 250px;
  height: 160px;
  object-fit: cover;
}

.articleTitleContainer {
  width: 100%;
  margin: 5px 15px;
  font-size: 17px;
  font-weight: 600;
}

.ArticleTitle {
  /* border: 1px solid black; */
  margin: 10px 0px;
}

.dateStyle {
  font-size: 10px;
  margin: 10px 0px;
  font-weight: 100;
  opacity: 80%;
  font-style: italic;
}

.descStyle {
  /* border: 1px solid black; */
  text-align: justify;
  height: 100px;
  padding-top: 10px;
  width: 99%;
  font-size: 12px;
  font-weight: normal;
}
